In [1]:
import numpy as np
import pandas as pd
import torch
import pickle
from tqdm import tqdm_notebook as tqdm
import os
import re
import pickle

In [2]:
def clean_sentence(sent):
    try:
        sent = sent.replace('\n', ' ').replace('\\n', ' ').replace('\\', ' ')

        sent = re.sub('<[^<]+?>', '', sent)

        return sent.lower()
    except:
        print(sent)
        return ' '

In [3]:
path = './'
train_df = pd.read_csv(path+'train_ori.csv', header=None)
train_df.head()

,0,1,2
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

In [4]:
train_df[0]

0         3
1         3
2         3
3         3
4         3
5         3
6         3
7         3
8         3
9         3
10        3
11        3
12        3
13        3
14        3
15        3
16        3
17        3
18        3
19        3
20        3
21        3
22        3
23        3
24        3
25        3
26        3
27        3
28        3
29        3
         ..
119970    2
119971    1
119972    1
119973    1
119974    3
119975    2
119976    3
119977    3
119978    3
119979    3
119980    3
119981    3
119982    1
119983    1
119984    1
119985    1
119986    1
119987    1
119988    1
119989    2
119990    1
119991    2
119992    1
119993    1
119994    1
119995    1
119996    2
119997    2
119998    2
119999    2
Name: 0, Length: 120000, dtype: int64

In [5]:
train_data = {'0':[], '1':[], '2':[]}

In [6]:
from tqdm import tqdm_notebook as iqdm

In [7]:
for i in tqdm(range(0, len(train_df[0]))):
    train_data['0'].append(train_df[0][i])
    train_data['1'].append(train_df[0][i])
    temp = ''
    
#     temp = clean_sentence(train_df[1][i]) + ' ' + clean_sentence(train_df[2][i])
    
    temp =  clean_sentence(train_df[2][i])
    
    train_data['2'].append(temp)

HBox(children=(IntProgress(value=0, max=120000), HTML(value='')))

In [7]:
words = []
idx = 0
word2idx = {}
vector = {}
# vectors = bcolz.carray(np.zeros(1), rootdir=f'{glove_path}/6B.50.dat', mode='w')

with open('../glove.42B.300d.txt', 'rb') as f:
    for l in tqdm(f):
        line = l.decode().split()
        word = line[0]
        vector[word] = np.array(line[1:]).astype(np.float)
#         words.append(word)
#         word2idx[word] = idx
#         idx += 1
#         vect = np.array(line[1:]).astype(np.float)

#         vectors.append(vect)
f = open("../glove_vec.pkl", 'wb')
pickle.dump(vector, f)
# vectors = bcolz.carray(vectors[1:].reshape((400000, 50)), rootdir=f'{glove_path}/6B.50.dat', mode='w')
# vectors.flush()
# pickle.dump(words, open(f'{glove_path}/6B.50_words.pkl', 'wb'))
# pickle.dump(word2idx, open(f'{glove_path}/6B.50_idx.pkl', 'wb'))

train_df[2][3]
train_df[2][3].lower()
r = clean_sentence(train_df[2][3].lower())
import nltk
# nltk.download('punct')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stop_words = set(stopwords.words("english"))
words = word_tokenize(r)
new_words = [word for word in words if word not in stop_words]
print(words)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

['reuters', '-', 'authorities', 'have', 'halted', 'oil', 'export', 'flows', 'from', 'the', 'main', 'pipeline', 'in', 'southern', 'iraq', 'after', 'intelligence', 'showed', 'a', 'rebel', 'militia', 'could', 'strike', 'infrastructure', ',', 'an', 'oil', 'official', 'said', 'on', 'saturday', '.']

In [8]:
path = './'
test_df = pd.read_csv(path+'test_ori.csv', header=None)
test_df.head()

,0,1,2
0,3,Fears for T N pension after talks,Unions representing workers at Turner Newall...
1,4,The Race is On: Second Private Team Sets Launc...,"SPACE.com - TORONTO, Canada -- A second\team o..."
2,4,Ky. Company Wins Grant to Study Peptides (AP),AP - A company founded by a chemistry research...
3,4,Prediction Unit Helps Forecast Wildfires (AP),AP - It's barely dawn when Mike Fitzpatrick st...
4,4,Calif. Aims to Limit Farm-Related Smog (AP),AP - Southern California's smog-fighting agenc...

In [9]:
test_data = {'0':[], '1':[], '2':[]}
for i in tqdm(range(0, len(test_df[0]))):
    test_data['0'].append(test_df[0][i])
    test_data['1'].append(test_df[0][i])
    temp = ''
    try:
#         temp = clean_sentence(test_df[1][i]) + ' ' + clean_sentence(test_df[2][i]) 
        
        temp = clean_sentence(test_df[2][i]) 
    except:
        print(test_df[1][i], test_df[2][i])
        break
    test_data['2'].append(temp)

HBox(children=(IntProgress(value=0, max=7600), HTML(value='')))

In [10]:
train_df_ = pd.DataFrame.from_dict(train_data)

In [11]:


test_df_ = pd.DataFrame.from_dict(test_data)

In [12]:
train_df_[:10]

   0  1                                                  2
0  3  3  reuters - short-sellers, wall street's dwindli...
1  3  3  reuters - private investment firm carlyle grou...
2  3  3  reuters - soaring crude prices plus worries ab...
3  3  3  reuters - authorities have halted oil export f...
4  3  3  afp - tearaway world oil prices, toppling reco...
5  3  3  reuters - stocks ended slightly higher on frid...
6  3  3  ap - assets of the nation's retail money marke...
7  3  3  usatoday.com - retail sales bounced back a bit...
8  3  3  forbes.com - after earning a ph.d. in sociolog...
9  3  3   new york (reuters) - short-sellers, wall stre...

In [13]:
test_df_[0:10]

   0  1                                                  2
0  3  3  unions representing workers at turner   newall...
1  4  4  space.com - toronto, canada -- a second team o...
2  4  4  ap - a company founded by a chemistry research...
3  4  4  ap - it's barely dawn when mike fitzpatrick st...
4  4  4  ap - southern california's smog-fighting agenc...
5  4  4  the british department for education and skill...
6  4  4    "sven jaschan, self-confessed author of the ...
7  4  4    foaf/loaf  and bloom filters have a lot of i...
8  4  4  wiltshire police warns about "phishing" after ...
9  4  4  in its first two years, the uk's dedicated car...

In [14]:

train_df_.to_csv('./train.csv',header = None, index = False)
test_df_.to_csv('./test.csv', header = None, index = False)

In [1]:
from pytorch_transformers import *
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [34]:
length = []
for i in tqdm(range(0, len(train_df_['2']))):
    tokens = tokenizer.tokenize(train_df_['2'][i])
    length.append(len(tokens))

HBox(children=(IntProgress(value=0, max=120000), HTML(value='')))

In [17]:

df_ana = pd.Series(length)
df_ana.describe(percentiles=[0.25, 0.5, 0.75, 0.9, 0.95, 0.98, 0.99])

count    120000.000000
mean         50.943175
std          18.874404
min          12.000000
25%          41.000000
50%          48.000000
75%          57.000000
90%          67.000000
95%          79.000000
98%         109.000000
99%         122.000000
max         377.000000
dtype: float64

In [ ]:
max(length)

In [ ]:
total = 0
 

for ele in range(0, len(length)):
    total = total + length[ele]

In [ ]:
total/len(length)